@model MyModel.ViewModel.VMtStudent

@{
    ViewData["Title"] = "IndexViewModel";
    // 取得目前的 id 參數（如果有的話）
    var currentId = Context.Request.Query["did"].ToString();

    if (string.IsNullOrEmpty(currentId))
	{
		currentId = "01"; // 預設值或處理無參數情況
	}
}

<h1>IndexViewModel</h1>

<div class="row">
    <div class="col-3">
        <table>
            <thead>
                <tr>
                    <th colspan="2"><div class="text-center fs-2">科系</div></th>
                </tr>
            </thead>
            @foreach (var department in Model.departments)
            {
                var isActive = department.DepartID == currentId ? "highlight" : "";
                <tbody>
                    <tr class="list-group">
                        <td class="list-group-item @isActive">
                            <a class="btn btn-value" asp-action="IndexViewModel" asp-route-did="@department.DepartID">@department.DepartName</a>
                        </td>               
                    </tr>
                </tbody>
            }
        </table>
    </div> 
    <div class="col-9">
        <a id="btnCreate" class="btn btn-primary" asp-action="Create" asp-route-did="@currentId">Create New</a>
        <span>@Model.departments.ToList().Find(s => s.DepartID == currentId).DepartName</span>
        @{
            if (Model.tStudents.Count == 0)
            {
                <div class="alert alert-info" role="alert">
                    No students found.
                </div>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.tStudents.FirstOrDefault().fStuId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.tStudents.FirstOrDefault().fName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.tStudents.FirstOrDefault().fEmail)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.tStudents.FirstOrDefault().fScore)
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.tStudents)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.fStuId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.fName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.fEmail)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.fScore)
                                </td>
                                <td>
                                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.fStuId">Edit</a>
                                    <form asp-action="Delete" class="d-inline">
                                        <input type="hidden" name="id" value="@item.fStuId" />
                                        <input type="submit" class="btn btn-danger" value="刪除" onclick="return confirm('Are you sure to delete it?');" />
                                    </form>
                                </td>
                            </tr>
                        }

                </table>
            }
		}

    </div>
</div>