@model IEnumerable<ViewApp.Models.NightMarket>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>    </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="/images/@(item.Id).jpg" width="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a href="https://www.google.com.tw/maps/search/@(item.Address)" target="_blank">@(item.Address)</a>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }, new {@class="btn btn-warning"})
                @* @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) | *@
                <a class="btn btn-info" asp-action="Details">Details</a>
                @* @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
                    <a class="btn btn-danger" href="/Home/Delete" onclick="return confirm('Are you sure to delete it?');">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
