@model IEnumerable<MyModel_CodeFirst.Models.Response>
@{
	Layout = null;
}

	@foreach (var reply in Model)
	{
    <div class="response-message">
        <form class="delete-reply-form float-end" data-response-id="@reply.ResponseId"
              asp-action="DeleteReply" asp-controller="Admin" method="post" style="display:inline;">
            @Html.AntiForgeryToken()
            <input type="hidden" name="id" value="@reply.ResponseId" />
            <button type="submit" class="btn btn-outline-danger btn-sm">刪除</button>
        </form>
        <div class="fs-4 text-truncate ps-5 border rounded border-success d-block" style="max-width:calc(100% - 100px)">
            @reply.SentDate @reply.Sender 的回覆: @reply.Body
        </div>
    </div>
	}


@section Scripts {
	<script>
		// JavaScript code to handle any additional functionality if needed
	</script>
}